/* @import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Libre+Baskerville&family=Nunito:ital,wght@0,300;0,400;0,500;1,400&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Noto+Sans+TC:wght@400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Mooli&family=Noto+Sans+TC:wght@400;500&family=Nunito:wght@500;600;700&family=PT+Serif:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Mooli&family=Noto+Sans+TC:wght@400;500&family=Nunito:wght@500;600;700&family=PT+Serif:wght@700&display=swap'); */
* {
    padding: 0;
    margin: 0;
    /* font-family:Roboto; */
}

:root {
    --primary-color: #000c56;
    --secondary-color: #00183c;
    --third-color: #bfd8ff;
    --forth-color: #80b1ff;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

p {
    margin: 0;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

section {
    padding: 6rem 0;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
    /* font-family: 'Mooli', sans-serif; */
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-family: 'Nunito', sans-serif;
    /* font-family: 'PT Serif', serif; */
    position: relative;
    margin: 0;
}

@media (max-width:600px) {
    .section-title{
        font-size: 2rem;
    }
}

header {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--forth-color), var(--third-color));
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 6rem;
    /* top: 0; */
    transition: all linear .3s;
    display: flex;
    align-items: center;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo bar {
    font-size: 2rem;
}

.logo img {
    height: 100%;
}

nav ul {
    display: flex;
    gap: 2rem;
    color: white;
}

nav ul li a {
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}

@media (max-width:768px) {
    nav ul {
        position: absolute;
        width: 100%;
        background-color: var(--primary-color);
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;
        top: 6rem;
        z-index: 10;
    }

    header{
        display: flex;
        align-items: center;
    }

    
}

@media (max-width:576px) {
    header{
        height: 4rem;
    }
    .logo {
        height: 4rem;
    }

    section {
        padding: 4rem 0 !important;
    }

    .navbar-bg {
        display: none !important;
        background-color: red;
    }

    .bar {
        display: none !important;
    }

    footer {
        position: relative;
        bottom: 3rem;
    }

    .about-text,.blog-topic,.blog-excerpt{
        font-size: .9rem !important;
    }

    .service-text,.portfolio-thing{
        font-size: 1rem !important;
    }
    .blog-title{
        font-size: 1rem !important;
    }

    .read-blog{
        font-size: .9rem !important;
    }

        .clients-img {
            height: 7rem !important;
            width: 7rem !important;
        }
    
        .clients-img img {
            width: 6rem !important;
        }
}

.small-nav {
    position: fixed;
    bottom: 0;
    z-index: 100;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 3.5rem;
    background-color: var(--primary-color);
    align-items: center;
    width: 100%;
    box-shadow: -1px 1px 3px var(--forth-color);
    padding: 0;
}

.small-nav li a {
    color: white;
    font-size: 1.2rem;
}


/* about us */
#about {
    /* background-image: url("../img/slider2.jpg")  !important; */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    /* position: relative;
        top: 6rem; */
        padding-bottom: 0 !important;
}

.about-align {
    /* background-color: red; */
    align-items: center;
}

.about-img {
    width: 100%;
}

.about-text {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.about-img img {
    width: 100%;
}

/* services */
#service {
    background: url('../img/services-left-dec.jpg');
    background-repeat: no-repeat;
}

#service .container {
    background-image: url("../img/web6.png");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position-y: 2rem;
}

#service .container .row {
    justify-content: end;
}

.service-heading {
    text-align: center;
}

.service-text {
    padding: .5rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.services {
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .9rem 0;
    height: 10rem;
    transition: all linear .2s;
    gap: 1.2rem;
    box-shadow: 1px 1px 10px var(--third-color);
    background-color: white;
}

.services:hover {
    border: none;
}

.services:hover>h3 {
    color: var(--forth-color);
}

.services img {
    width: 4rem;
    border-radius: 100%;
}

.services h3 {
    text-align: center;
    font-size: 1.4rem;
    font-family: calibri;
    font-weight: 600;
}

@media (max-width:1200px) {
    #services .container{
        background-size: 50% !important;
    }
}
@media (max-width:992px) {
    #service .container {
        background: none;
    }


}

@media (max-width:400px) {
    .service-data {
        width: 100%;
    }
}

/* portfolio */

#portfolio {
    background: url('../img/portfolio-left-dec.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.portfolio-item {
    border: 1px solid var(--third-color);
    height: 25rem;
    border-radius: .7rem;
}

.portfolio-img {
    height: 19rem;
    border-radius: .7rem .7rem 0 0;
    object-fit: cover;
}

.portfolio-img img {
    height: 100%;
    width: 100% !important;
    border-radius: .7rem .7rem 0 0;
}

.portfolio-data {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    height: 5rem;
    align-items: center;
    gap: 1rem;
}

.portfolio-data .portfolio-name {
    font-size: 1rem;
    font-weight: 600;
}

.portfolio-data a {
    font-size: 1.2rem;
    border-radius: 3rem;
    height: 2.5rem;
    width: 3rem;
    justify-content: center;
    display: flex;
    align-items: center;
    color: var(--forth-color);
    box-shadow: 1px 1px 10px var(--third-color);
}

.owl-nav {
    display: inline-block !important;
    position: absolute;
    right: 0rem;
    bottom: 26rem;
    display: flex !important;
    gap: 1rem !important;
}

.owl-dots {
    display: none !important;
}

.owl-prev,
.owl-next {
    width: 2.5rem !important;
    border-radius: 2.5rem !important;
    height: 2.5rem !important;
    background-color: var(--forth-color) !important;
}

.owl-prev span,
.owl-next span {
    color: white;
    font-size: 3rem;
    line-height: 2rem;
    border-radius: 1rem;
}

.portfolio-thing {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
    margin: 0 0 1rem 0;
    color: var(--primary-color);
    font-family: 'Cedarville Cursive', cursive;

}

@media (max-width:500px) {
    .owl-nav {

        bottom: 13rem;
        display: flex !important;
        width: 100%;
        justify-content: space-between;
    }

    .owl-prev,
    .owl-next {
        background-color: var(--forth-color) !important;
    }

    .owl-prev span,
    .owl-next span {
        color: black;
    }

    .owl-prev:hover,
    .owl-next:hover {
        background-color: #000c56 !important;
    }

    .owl-prev:hover>span,
    .owl-next:hover>span {
        color: white;
    }
}

/* blog */

.blog-item {
    margin-top: 1rem;
    border-radius: .7rem;
    padding: 0;
    box-shadow: 1px 1px 20px var(--third-color);
}

.blog-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.blog-img img {
    width: 100%;
    height: 100%;
    border-radius: .7rem .7rem 0 0;
}

.blog-body {
    padding: 1rem;
    background-color: white;
    border-radius: .7rem;
}

.top {
    padding-bottom: .5rem;
    display: flex;
    justify-content: space-between;
}

.blog-topic {
    background-color: var(--forth-color);
    padding: .3rem .7rem;
    border-radius: .7rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.blog-date {
    font-weight: 600;
    font-size: .9rem;
    color: gray;
}

.blog-title {
    font-weight: 600;
    font-size: 1.3rem;
    color: black;
}

.blog-excerpt {
    color: gray;
}

.read-blog {
    margin-top: 1rem;
    padding: .4rem .7rem;
    display: inline-block;
    color: black;
    border: 1px solid var(--secondary-color);
    font-size: 1rem;
    font-weight: 600;
    border-radius: .7rem;
    transition: all ease .2s;
}

.read-blog:hover {
    background-color: var(--secondary-color);
    color: white;
}


.blog-side {
    display: flex;
    gap: .8rem;
    background-color: white;
}

.blog-side-img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: .7rem;
}

@media (max-width:992px)and (min-width:768px) {
    .blog-side-img {
        height: auto;
    }
}


.blog-side-img img {
    width: 100%;
    height: 100%;
    border-radius: .7rem;
}

@media (max-width:992px) {
    .blog-side {
        margin-top: 1rem;
    }

    .owl-nav {

        gap: .5rem !important;
    }
}


@media (max-width:400px) {

    .blog-side-img,
    .blog-img {
        height: 15rem;
    }

    .blog-side {
        flex-direction: column;
    }
}

/* clients */
#clients {
    background-color: #d8d8d84f;
}

.clients-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clients-img {
    width: 8rem;
    object-fit: contain;
    margin: .5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    background: white;
    height: 8rem;
    border-radius: 4rem;
    justify-content: center;
}

.clients-img img {
    width: 7rem;
}

@media (max-width:400px) {
    .clients-img{
        height: 6rem;
        width: 6rem;
    }

    .clients-img img{
        width: 5rem;
    }
}

/* contact */
#contact {
    background-image: url('../img/blog-left-dec.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.map iframe {
    width: 100%;
    border-radius: 1rem;
    height: 100%;
}

.contact-box {
    box-shadow: 1px 1px 70px var(--third-color);
    border-radius: 1rem;
    padding: 3rem;
    background-color: white;
}

.contact-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.contact-form {
    border: 1px solid var(--third-color);
    border-radius: 1rem;
}

form {
    padding: 2rem;
}

form input,
textarea,
.message-send {
    border-radius: 1rem;
    font-weight: 600;
    margin: .5rem 0;
    outline: none !important;
    background-color: rgba(233, 233, 233, 0.226);
    width: 100%;
    border: 1px solid var(--third-color);
    padding-left: 1rem;
}

input,
.message-send {
    height: 2.8rem;
}

textarea {
    padding: 1rem;
}

.message-send {
    background-color: var(--primary-color) !important;
    color: white;
}

.button:hover {
    cursor: pointer;
    background-color: var(--secondary-color) !important;
}

.contact-info {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--forth-color), var(--third-color));
    border-radius: 0 0 1rem 1rem;
    color: white;
    padding: 2rem;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contact-info i {
    font-size: 1.2rem;
}

.contact-data {
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    overflow-wrap: anywhere;
    text-align: center;
}

@media (max-width:992px) {
    .map {
        margin-bottom: 1rem;
    }

    .contact-box {
        padding: 2rem;
    }
}

@media (max-width:576px) {
    .contact-detail {
        margin: 1rem 0;
    }

    .contact-box {
        padding: 1rem;
    }

    form {
        padding: .5rem;
    }
}

/* footer */
footer {
    background-color: var(--primary-color);
    padding: 3rem 0;
}

.footer-data {
    text-align: center;
    color: white;
}